.libro-content{
    display: flex;
}

.foto{
    width: 250px;
    height: 440px;
}

.info{
    border: 1px solid rgba(0, 0, 255, 0.279);
    padding: 5px;
    margin-left: 2%;
    position: relative;
    text-align: justify;
}

.name{
    color:rgb(160, 45, 222);
}