
.listaLibros{
    display: flex;
}
.libros{
    border: 1px solid blue;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    margin: 10px;
    align-items: center;
}
.portada{
    width: 120px;
    height: 200px;
}

.infoBook{
    display: block;
    margin-left: 15px;
    text-align: left;
    
}