.listaLibros{
    display: flex;
}
.libros{
    border: 1px solid blue;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    margin: 10px;
    align-items: center;
}
.portada{
    width: 120px;
    height: 200px;
}

.infoBook{
    display: block;
    margin-left: 15px;
    text-align: left;
    
}

.orderBy{
    text-align: center;
    align-items: center;
    border: 2px solid rgb(140, 78, 249);
    color: rgb(68, 68, 225);
    border-radius: 1cqb;
    width:200px;
}

.orderBy:hover{
    cursor: pointer;
    background-color: white;
    font-weight:bold;
    border: 2px solid rgb(101, 18, 243);
    color: rgb(54, 0, 249);

}