#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.sign{
  border: 1px solid;
  border-radius: 10%;
  padding: 10px;
  margin: 1%;
}
.sign:hover {
  filter: drop-shadow(0 0 1em #c100fcaa);
}



.read-the-docs {
  color: #888;
}
